.live-text {
    display: none !important;
}

.live-info {
    display: none !important;
}

button[aria-label="fullscreen"] {
    display: none !important;
}

.settings_menu[data-settings-menu]>.container .section .label {
    display: none !important;
}

.dvr-controls[data-dvr-controls] .live-button:before {    
    display: none !important; 
}
