.live-text {
    display: none !important;
}

.live-info {
    display: none !important;
}

button[aria-label="fullscreen"] {
    display: none !important;
}

#level-selector-id .label {
    display: none !important;
}