/* .lang_holder {
    right: 0 !important;
}

.lang_holder > div {
    border: none !important;
} */

/* .lang_holder > div.active {
    border: 2px dashed #77610f !important;
} */

.Iframe_body .lang_arrow {
    background-color: red !important;
}

.lang_holder > div{
    background-color: red !important;
}